# Editing
alias v=$NEOVIM
alias vz="v ~/.zshrc"
alias vn="v ~/.config/nvim/init.lua"
alias dev="cd $DEVELOPMENT"

# Rails
alias berc="bundle exec rails c"

# Gitting
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git pull'
alias gap='git add -p'
alias gch='git checkout'
alias gchb='gch -b'
alias gf='git diff'
alias resolve-conflicts="git diff --name-only | uniq | xargs $NEOVIM"
alias gilf='git checkout main && git pull && git fetch'
alias galf='git checkout master && git pull && git fetch'
alias gslf='git checkout stable && git pull && git fetch'
alias trigger-build='git commit --allow-empty -m "Trigger build" && git push'
alias gu='git config --local --list | grep "user"'

# Looking
alias l="exa --long"
alias la="exa --long --all"
alias lt="exa --long --tree"
alias lta="exa --long --all --tree"
alias f='fzf --bind "enter:execute($NEOVIM {})"'

# Sourcing
alias sz="exec zsh"
alias clear="clear && sz"

# Authenticating
alias agent='eval "$(ssh-agent -s)"; ssh-add ~/.ssh/id_rsa'

# Writing
alias ponder="$DEVELOPMENT/ponder/target/release/ponder"
alias p='ponder'
alias scratch='v $HOME/scratch.md'
alias watched="$DEVELOPMENT/rust/rusty-tomatoes/target/release/rusty-tomatoes movie create"
alias seen="$DEVELOPMENT/rust/rusty-tomatoes/target/release/rusty-tomatoes movie show"

# Compression
alias compress='tar czf'
alias decompress='tar xzf'

# Testing
alias dev-chrome='open -n -a /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --args --user-data-dir="/tmp/chrome_dev_test" --disable-web-security'
alias yt='yarn test'

# Quotes
alias getquote='echo $(shuf -n 1 $DEVELOPMENT/dotfiles/quotes.txt) | fold -s -w 120'

# Tmux
alias tns='tmux new -s ship'
alias tas='tmux attach -t ship'
alias tnf='tmuxinator start faith'
alias taf='tmux attach -t faith'
alias tl='tmux ls'

alias python='python3'
