# Editing
alias v="nvim"
alias vz="v ~/.zshrc"
alias vn="v ~/.config/nvim/init.lua"
alias dev="cd $DEVELOPMENT"

# Gitting
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git pull'
alias gap='git add -p'
alias gch='git checkout'
alias gchb='gch -b'
alias gf='git diff'
alias resolve-conflicts='git diff --name-only | uniq | xargs nvim'
alias gmlf='git checkout main && git pull && git fetch'
alias gslf='git checkout stable && git pull && git fetch'
alias trigger-build='git commit --allow-empty -m "Trigger build" && git push'

# Looking
alias l="exa --long"
alias la="exa --long --all"
alias lt="exa --long --tree"
alias lta="exa --long --all --tree"
alias cat="bat"
alias f='fzf --bind "enter:execute(nvim {})"'

# Sourcing
alias sz="exec zsh"
alias clear="clear && sz"

# Authenticating
alias agent='eval "$(ssh-agent -s)"; ssh-add ~/.ssh/id_rsa'

# Rubberducking
alias r='rubberduck'

# Compression
alias compress='tar czf'
alias decompress='tar xzf'

# Theming
alias golight='chprof Light'
alias godark='chprof Dark'

# Testing
alias dev-chrome='open -n -a /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --args --user-data-dir="/tmp/chrome_dev_test" --disable-web-security'
