#!/usr/bin/env zsh

alias agent='eval "$(ssh-agent -s)"; ssh-add ~/.ssh/id_rsa'

alias clear="clear && exec zsh"
alias compress='tar czf'

alias dark="kitty +kitten themes --reload-in=all Rosé Pine Moon"
alias dev="cd $DEVELOPMENT"
alias decompress='tar xzf'
alias dev-chrome='open -n -a /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --args --user-data-dir="/tmp/chrome_dev_test" --disable-web-security'

alias f='fzf --bind "enter:execute(nvim {})"'

alias g='git'
alias gs='git status --short'
alias ga='git add'
# alias gc='cz commit'
alias gc='conventional_commit'
alias gp='git push'
alias gl='git pull'
alias gd='git diff'
alias gds='git diff --staged'
alias gdn='git diff --name-only'
alias gap='git add -p'
alias gch='git checkout'
alias gchb='gch -b'
alias gil='git checkout main && git pull'
alias gal='git checkout master && git pull'
alias gsl='git checkout stable && git pull'
alias gu='git config --local --list | grep "user"'
alias gm='modified'

alias l="ls -lha"
alias light="kitty +kitten themes --reload-in=all Rosé Pine Dawn"

alias nerdfetch="$DEVELOPMENT/nerdfetch"

alias ponder="$DEVELOPMENT/ponder/target/release/ponder"
alias p='$DEVELOPMENT/ponder/target/release/ponder'

alias resolve-conflicts="git diff --name-only | uniq | xargs nvim"
alias rc='resolve-conflicts'
alias rubocopit="{ git diff --name-only; git diff --cached --name-only; } | sort -u | grep -v '^db/schema.rb$' | xargs rubocop -a"

alias s='speedtest'
alias sz="exec zsh"

alias trigger-build='git commit --allow-empty -m "trigger build" && git push'
alias t='tmux'
alias tl='tmux ls'

alias v=nvim
alias vz="nvim ~/.zshrc"
alias vn="nvim ~/.config/nvim/init.lua"

alias xit="exit"

alias yt='yarn test'

alias vimv=$HOME/Development/vimv

alias meme=$HOME/Development/random-meme.sh

alias brew="arch -x86_64 /usr/local/bin/brew"
alias xasdf="arch -x86_64 asdf"

alias vcc="v $HOME/Library/Application\ Support/Claude/claude_desktop_config.json"
